<h1>Hey, {{username}}</h1>


<p>Here is your token to reset your password:

</p>

<p><strong>{{token}}</strong></p>
@if(link)
<p>Also, you can change your password clicking in the link below</p>
<a href={{link}}>Create a new password</a>
@end
